<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.2.0" targetFramework="net472" />
  <package id="EntityFramework.ru" version="6.2.0" targetFramework="net472" />
  <package id="Extended.Wpf.Toolkit" version="4.6.0" targetFramework="net472" />
  <package id="Xceed.Products.Wpf.Toolkit.Full" version="4.6.24151.1544" targetFramework="net472" />
  <package id="Xceed.Wpf.AvalonDock" version="4.6.24151.1544" targetFramework="net472" />
  <package id="Xceed.Wpf.AvalonDock.Themes.Aero" version="4.6.24151.1544" targetFramework="net472" />
  <package id="Xceed.Wpf.AvalonDock.Themes.FluentDesign" version="4.6.24151.1544" targetFramework="net472" />
  <package id="Xceed.Wpf.AvalonDock.Themes.MaterialDesign" version="4.6.24151.1544" targetFramework="net472" />
  <package id="Xceed.Wpf.AvalonDock.Themes.Metro" version="4.6.24151.1544" targetFramework="net472" />
  <package id="Xceed.Wpf.AvalonDock.Themes.MetroAccent" version="4.6.24151.1544" targetFramework="net472" />
  <package id="Xceed.Wpf.AvalonDock.Themes.Office2007" version="4.6.24151.1544" targetFramework="net472" />
  <package id="Xceed.Wpf.AvalonDock.Themes.VS2010" version="4.6.24151.1544" targetFramework="net472" />
  <package id="Xceed.Wpf.AvalonDock.Themes.Windows10" version="4.6.24151.1544" targetFramework="net472" />
  <package id="Xceed.Wpf.DataGrid.Themes.FluentDesign" version="4.6.24151.1544" targetFramework="net472" />
  <package id="Xceed.Wpf.DataGrid.Themes.MaterialDesign" version="4.6.24151.1544" targetFramework="net472" />
  <package id="Xceed.Wpf.DataGrid.Themes.Metro" version="4.6.24151.1544" targetFramework="net472" />
  <package id="Xceed.Wpf.DataGrid.Themes.Office2007" version="4.6.24151.1544" targetFramework="net472" />
  <package id="Xceed.Wpf.DataGrid.Themes.Windows10" version="4.6.24151.1544" targetFramework="net472" />
  <package id="Xceed.Wpf.DataGrid.Toolkit" version="4.6.24151.1544" targetFramework="net472" />
  <package id="Xceed.Wpf.ListBox" version="4.6.24151.1544" targetFramework="net472" />
  <package id="Xceed.Wpf.ListBox.Themes.FluentDesign" version="4.6.24151.1544" targetFramework="net472" />
  <package id="Xceed.Wpf.ListBox.Themes.LiveExplorer" version="4.6.24151.1544" targetFramework="net472" />
  <package id="Xceed.Wpf.ListBox.Themes.MaterialDesign" version="4.6.24151.1544" targetFramework="net472" />
  <package id="Xceed.Wpf.ListBox.Themes.Metro" version="4.6.24151.1544" targetFramework="net472" />
  <package id="Xceed.Wpf.ListBox.Themes.Office2007" version="4.6.24151.1544" targetFramework="net472" />
  <package id="Xceed.Wpf.ListBox.Themes.Windows10" version="4.6.24151.1544" targetFramework="net472" />
  <package id="Xceed.Wpf.ListBox.Themes.WMP11" version="4.6.24151.1544" targetFramework="net472" />
  <package id="Xceed.Wpf.Themes" version="4.6.24151.1544" targetFramework="net472" />
  <package id="Xceed.Wpf.Themes.FluentDesign" version="4.6.24151.1544" targetFramework="net472" />
  <package id="Xceed.Wpf.Themes.MaterialDesign" version="4.6.24151.1544" targetFramework="net472" />
  <package id="Xceed.Wpf.Themes.MaterialDesignColors" version="4.6.24151.1544" targetFramework="net472" />
  <package id="Xceed.Wpf.Themes.Metro" version="4.6.24151.1544" targetFramework="net472" />
  <package id="Xceed.Wpf.Themes.Office2007" version="4.6.24151.1544" targetFramework="net472" />
  <package id="Xceed.Wpf.Themes.Windows10" version="4.6.24151.1544" targetFramework="net472" />
  <package id="Xceed.Wpf.Toolkit" version="4.6.24151.1544" targetFramework="net472" />
  <package id="Xceed.Wpf.Toolkit.Themes.FluentDesign" version="4.6.24151.1544" targetFramework="net472" />
  <package id="Xceed.Wpf.Toolkit.Themes.MaterialDesign" version="4.6.24151.1544" targetFramework="net472" />
  <package id="Xceed.Wpf.Toolkit.Themes.Metro" version="4.6.24151.1544" targetFramework="net472" />
  <package id="Xceed.Wpf.Toolkit.Themes.Office2007" version="4.6.24151.1544" targetFramework="net472" />
  <package id="Xceed.Wpf.Toolkit.Themes.Windows10" version="4.6.24151.1544" targetFramework="net472" />
</packages>